<nav class="navbar">
  <div class="nav-container">
    <div class="brand">
      <a href="/" class="brand-link">
        <img src="assets/image/X_logo.png" alt="ArenaX Logo" class="nav-logo-img">
      </a>
    </div>

    <ul class="nav-links">
      <li><a href="events">Event</a></li>
      <li><a href="events_fees">Fees</a></li>
      <li><a href="events_certificate">Certificate</a></li>
      <li><a href="events_register">Register</a></li>
      <li><a href="programs">Join ArenaX</a></li>
    </ul>
  </div>
</nav>